.video-container {
  position: relative;
  display: inline-block;
  width: 640px;
  height: 480px;
}

#videoPlayer {
  width: 100%;
  height: auto;
}

#video {
  position: absolute;
}

#azimuth,
#elevation {
  position: absolute;
  pointer-events: none;
}

.mouse-line {
  stroke: lime;
  stroke-width: 2;
}

#mouseCoordinates {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
}
